.gallery h2 {
  text-transform: uppercase;
  padding-top: 50px;
  margin-top: 0;
  font-size: 1.5em;
  font-family: cursive;
  text-align: center;
  color: $background;
}

.gallery-items {
  padding: 20px;
}
